<body>
  <!-- Spinner Start -->
  <div
    id="spinner"
    class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center"
  >
    <div class="spinner"></div>
  </div>
  <!-- Spinner End -->

  <!-- Topbar Start -->
  <div class="container-fluid text-white-topNav px-5 d-none d-lg-block">
    <div class="row gx-0">
      <div class="col-lg-8 text-center text-lg-start mb-2 mb-lg-0">
        <div class="d-inline-flex align-items-center" style="height: 45px">
          <small class="me-3 text-white-topNav"
            ><i class="fa fa-map-marker-alt me-2"></i>VIT Bhopal, Madhya
            Pradesh- 466114</small
          >
          <small class="me-3 text-white-topNav"
            ><i class="fa fa-phone-alt me-2"></i>+91 8527938608</small
          >
          <small class="text-white-topNav"
            ><i class="fa fa-envelope-open me-2"></i>cropHelp@gmail.com</small
          >
        </div>
      </div>
      <div class="col-lg-4 text-center text-lg-end">
        <div class="d-inline-flex align-items-center" style="height: 45px">
          <a
            class="btn btn-sm btn-outline-light btn-sm-square rounded-circle me-2"
            href="https://x.com/?mx=2"
            ><i class="fab fa-twitter fw-normal"></i
          ></a>
          <a
            class="btn btn-sm btn-outline-light btn-sm-square rounded-circle me-2"
            href="https://www.facebook.com/"
            ><i class="fab fa-facebook-f fw-normal"></i
          ></a>
          <a
            class="btn btn-sm btn-outline-light btn-sm-square rounded-circle me-2"
            href="https://www.linkedin.com/"
            ><i class="fab fa-linkedin-in fw-normal"></i
          ></a>
          <a
            class="btn btn-sm btn-outline-light btn-sm-square rounded-circle me-2"
            href="https://www.instagram.com/"
            ><i class="fab fa-instagram fw-normal"></i
          ></a>
          <a
            class="btn btn-sm btn-outline-light btn-sm-square rounded-circle"
            href="https://www.youtube.com/"
            ><i class="fab fa-youtube fw-normal"></i
          ></a>
        </div>
      </div>
    </div>
  </div>
  <!-- Topbar End -->

  <!-- Navbar Start -->
  <div class="container-fluid position-relative p-0">
    <nav class="navbar navbar-expand-lg navbar-dark px-5 py-3 py-lg-0" style="box-shadow: 0px 12px 16px -20px rgba(0,0,0,0.39);">
      <a href="/">
        <img
          src="{{ url_for('static', filename='images/FarmFit.png')}}"
          alt=""
          style="width: 30%"
        />
      </a>
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarCollapse"
      >
        <span class="fa fa-bars"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <div class="navbar-nav ms-auto py-0">
          <div class="nav-item dropdown">
            <a href="/" class="nav-link">Home</a>
          </div>
          <div class="nav-item dropdown">
            <a href="/about" class="nav-link">About</a>
          </div>
          <div class="nav-item dropdown">
            <a href="/blog" class="nav-link">Blogs</a>
          </div>
          <div class="nav-item dropdown">
            <a href="/news" class="nav-link">News</a>
          </div>
          <div class="nav-item dropdown">
            <a href="/crop" class="nav-link"
              >Get Recommendation</a
            >
          </div>
          <div class="nav-item dropdown">
            <a href="/donation" class="nav-link">Donation</a>
          </div>
          <div class="nav-item dropdown">
            <a href="/contact" class="nav-item nav-link">Contact</a>
          </div>
        </div>
      </div>
    </nav>

    <!-- Navbar End -->
  </div>
</body>
